<!DOCTYPE html>
<html>
<head>
  <title>FinPort beta</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "refresh" %>
  <%= javascript_include_tag "timeago" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <span class="icon-bar"></span>
        <a class="brand" href="#">FinPort</a>
        <ul class="nav">
          <li class="active"><a href="#/home"><i class="icon-home icon-large icon-white"></i> Home</a></li>
          <li><a class="" href="#/trends"><i class="icon-bar-chart icon-large icon-white"></i> Trends</a>            
          <li><a class="" href="#/help"><i class="icon-info-sign icon-large icon-white"></i> Help</a>              
        </ul>
        <div class="pull-right">
          <ul class="nav">
            <li><a href="#/logout">Logout <i class="icon-signout icon-large icon-white"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>  <!-- end navbar -->

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= yield %>
  
</body>
</html>
